{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jelajahi Kursus — CourseHub</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="bg-navy-50/50 font-sans text-navy-900 min-h-screen flex flex-col">

  <!-- ========== NAVBAR (Authenticated) ========== -->
  {% include 'components/navbar.html' %}
  {% block content %}
    
  {% endblock content %}
</body>